<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Keywords.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Keywords.Properties.Settings>
            <setting name="lemmatize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="deletenumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="blackliststandardenabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="blacklistcustomenabled" serializeAs="String">
                <value>False</value>
            </setting>
        </Keywords.Properties.Settings>
    </userSettings>
</configuration>